In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [1]:
import re
import string as st
import pandas as pd
import numpy as np
import pickle
from nltk.tokenize import word_tokenize, sent_tokenize

In [ ]:
def split_sent(text):
    list_sent = []
    for para in text.split('\n'):
      sentence = sent_tokenize(para)
      for sent in sentence:
        list_sent.append(sent)
    return list_sent

# Load data

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Factiva/eda01_integration/eda_data.csv',
                 usecols=['GVKEY','Document','new_data'])
df.sample(5)

         GVKEY  ...                                           new_data
360512   64768  ...  Amazon.com Inc. plans to hire an additional 10...
63022   133869  ...  LivePerson to hold its Annual Meeting of Stock...
59031    12840  ...          *Heartland Express 2Q Rev $154.1M >HTLD\n
349886   62979  ...  Southside Bancshares, Inc. Announces Third Qua...
398682    7435  ...  April 10 (Reuters) - 3M Co said it filed a law...

[5 rows x 3 columns]

In [4]:
df.shape

(454212, 3)

# Split sentence

In [ ]:
df['sentence'] = df.new_data.apply(split_sent)
df.head()

   GVKEY  ...                                           sentence
0  10000  ...  [NEW YORK, April 17, 2020 /PRNewswire/ -- Stan...
1  10000  ...  [NEW YORK, March 6, 2020 /PRNewswire/ -- Stand...
2  10000  ...  [NEW YORK, May 5, 2021 /PRNewswire/ -- Standar...
3  10000  ...  [NEW YORK, Feb. 25, 2021 /PRNewswire/ -- Stand...
4  10000  ...  [NEW YORK, May 13, 2020 /PRNewswire/ -- Standa...

[5 rows x 4 columns]

In [ ]:
gvkey,doc,sent=[],[],[]
for i,j,k in zip(df.GVKEY,df.Document,df.sentence):
  for s in k:
    gvkey.append(i)
    doc.append(j)
    sent.append(s)
print(len(gvkey),len(doc),len(sent))

25062697 25062697 25062697

In [ ]:
df_sent = pd.DataFrame({'GVKEY':gvkey, 'Document':doc, 'sentence':sent})
df_sent

          GVKEY  ...                                           sentence
0         10000  ...  NEW YORK, April 17, 2020 /PRNewswire/ -- Stand...
1         10000  ...  Olivia Newton, Director of Category Management...
2         10000  ...  The WiAC organization is dedicated to the adva...
3         10000  ...  "I'm tremendously honored to represent both Wo...
4         10000  ...  "I believe strongly in the community's mission...
...         ...  ...                                                ...
25062692   9919  ...  5 Aug 2021 07:33 ET *Shyft Group 2Q Sales $244...
25062693   9919  ...  5 Aug 2021 07:34 ET *Shyft Group 2Q Adj EPS 53...
25062694   9919  ...  5 Aug 2021 07:35 ET *Shyft Group Sees FY Rev $...
25062695   9919  ...  5 Aug 2021 07:35 ET *Shyft Group Sees FY EPS $...
25062696   9919  ...  5 Aug 2021 07:35 ET *Shyft Group Sees FY Adj E...

[25062697 rows x 3 columns]

In [ ]:
# df_sent.to_csv('/content/drive/MyDrive/Factiva/Report/fact-sentence.csv',index=False)